/*CONTACT SECTION*/
.contact-info {
  margin-top: 50px;
}

.contact-section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1260px;
  background: #CCC;
  padding: 20px
}

.contact-left {
  width: 100%;
}

.contact-right {
  width: 100%;
  align-self: center;
  /* text-align: center; */
}

.contact-right ul {
  padding-left: 100px;
}

.contact-right ul li a {
  font-size: 22px;
}

/*CONTACT FORM*/
input[type=text], select, textarea {
  width: 100%;
}

input[type=submit] {}

input[type=submit]:hover {}

/*MEDIA QUERIAS*/
@media only screen and (max-width: 900px) {}

/*MEDIA QUERIAS*/
@media only screen and (max-width: 768px) {
  .contact-section {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
