/*CONTACT SECTION*/
.contact-info {
  margin-top: 50px;
}

.contact-section {
  align-items: center;
  background: #ccc;
  display: grid;
  grid-template-columns: 50% 50%;
  /*JUSTIFY IN THE CENTER*/
  justify-items: center;
  margin: 0 auto;
  max-width: 1260px;
  padding: 20px;
}

.contact-left {
  }

.contact-right {}

.contact-right ul li a {
  color: #003078;
  font-size: 22px;
}

.contact-right ul li a:hover {
  color: #0075B5;
  text-decoration: none;
}


/*CONTACT FORM*/
.contact-left label{
  color: #003078;
  font-size: 18px;
  font-weight: 500;
 margin-bottom: 3px;
}

form{
  padding: 20px;
}

input[type=text], input[type=email], input[type=number], select, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px 20px 20px 10px;
}

input[type=text], input[type=email], input[type=number] {
  height: 35px;
}

input[type=email]:focus, input[type=text]:focus, textarea:focus {
  outline: 1px solid red;
}

input[type=submit] {
  margin-top: 15px;
  color: white;
  background: #003078;
  padding: 5px 25px;
  width: 50%;
}

input[type=submit]:hover {
  /* color: lightblue; */
  opacity: 0.7;
}

/*MEDIA QUERIAS*/
@media only screen and (max-width: 900px) {}

/*MEDIA QUERIAS*/
@media only screen and (max-width: 768px) {
  .contact-section {
    margin: 20px;
    display: grid;
    grid-template-columns: 100%;
    padding: 20px;
  }

  .contact-right {
    margin-top: 50px;
  }

  .contact-left {}
}
