* {
  margin: 0;
  padding: 0;
}

/*SOCIAL MEDIA ICONS*/
.right-menu li {
  display: inline-block;
  margin-top: 30px !important;
}

.header .nav-link {
  font-size: 22px;
}

.header .nav-link {
  color: #3C3C3C !important;
}

.header .nav-link:hover {
  color: #717171 !important;
}

.right-menu li .fa {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

/*LOGO IMAGE*/
.navbar-brand img {
  width: 220px;
}

.navbar-brand {
  left: 70%;
  top: 25px;
  transform: translateX(-50%);
  position: absolute;
}

/*HEADER*/
.header {
  background: #eeeeee;
  margin-bottom: 80px;
}

.navbar {
  padding: 25px 110px !important;
}

/*SECOND SECTION*/
.title-style h1 {
  padding: 40px 0;
}

.title-style {
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
}

.title-style::after {
  content: '';
  height: 100px;
  width: 200px;
  background-color: #003078;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.title-style::before {
  content: '';
  height: 100px;
  width: 200px;
  background-color: #003078;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

/*CONTACT SECTION*/
.contact-section {
  max-width: 960px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-self: center;
}

/*CONTACT FORM*/
input[type=text], select, textarea {
  width: 100%;
}

input[type=submit] {}

input[type=submit]:hover {}

.contact-left {}

/*FOOTER*/
.footer {
  margin-top: 150px;
  background: #f5f6fc;
}

.payment, .insta-img, .app-download {
  margin: 50px auto;
}

.payment img {
  width: 300px;
  cursor: pointer;
}

.insta-img img {
  width: 75px;
  padding: 5px;
  cursor: pointer;
}

.app-download img {
  width: 200px;
}

.footer h5 {
  margin-bottom: 50px;
}

.footer h5::before {
  content: '';
  width: 75px;
  height: 3px;
  background: #4f74e8;
  top: 80px;
  position: absolute;
}

.footer-icons {
  text-align: right;
}

.footer-icons .fa {
  margin: 0 10px auto;
  font-size: 20px;
  cursor: pointer;
}

.footer-icons a {
  color: #3C3C3C !important;
}

.footer-icons a:hover {
  color: #717171 !important;
}

/*MEDIA QUERIAS*/
@media only screen and (max-width: 900px) {
  .navbar {
    padding: 0 10% !important;
  }

  .banner-title h1 {
    font-size: 2.5em !important;
    padding: 5px;
    line-height: 30px;
  }

  .title-style h1 {
    font-size: 30px;
  }

  .footer-icons {
    text-align: center;
    padding-bottom: 20px;
  }

  .copyright {
    text-align: center;
  }

  .navbar-brand img {}
}
