* {
  margin: 0;
  padding: 0;
}

/*HEADER*/
.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background: #eeeeee;
  text-align: center;
  padding: 30px 100px;
}

/*CENTER THE ELEMENTS OF THE LISTS*/
.hamburguer {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.hamburguer:hover {
  color: #003078;
}

.hamburguer:focus {
  outline: none;
}

nav .list-of-items li {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  margin: 0 20px 0 0;
}

nav .list-of-items li a {
  color: #3C3C3C;
  text-decoration: none;
}

nav .list-of-items li a:hover {
  color: #003078;
}

/*NAVIGATION LEFT SIDE NAVIGATION TABS*/
nav .items-left {
  justify-self: start;
  align-self: center;
}

/*NAVIGATION RIGHT SIDE SOCIAL MEDIA*/
nav .items-right {
  justify-self: end;
  align-self: center;
}

nav .items-right li:last-child {
  margin: 0;
}

/*LOGO IMAGE AT TOP*/
.logo-image {
  width: 100%;
  align-self: center;
}

.logo-image #logo {
  width: 50%;
}

/*BANNER / BIG IMAGE and TITLES*/
.banner {
  margin: 0 auto;
  /* max-width: 100%; uncomment*/
}

.banner-img {
  text-align: center;
  margin: 40px auto;
  /*width: 80%; */
}

.banner-img img {
  width: 80%;
  /* margin-bottom: -80px; */
}

.banner {
  position: relative;
}

.banner-title {
  position: absolute;
  left: 78%;
  top: 20%;
}

.banner-title h1 {
  font-size: 4.5em !important;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  line-height: 40px;
  padding: 20px 10px 30px 10px;
  text-align: center;
}

.banner-title #plus {
  font-weight: bolder;
  color: #fff;
  background: none;
  line-height: 0;
  padding: 20px;
  margin-bottom: 0.3em;
}

/*SECOND SECTION*/
.our-mission {
  padding: 20px 0 50px 0;
}

.mission-box {
  margin: 40px 0;
}

.title-style h1 {
  padding: 40px 0;
}

.title-style {
  margin: 0 auto 80px;
  height: 120px;
  width: 80%;
  max-width: 700px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
}

.title-style::after {
  content: '';
  height: 100px;
  width: 200px;
  background-color: #003078;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.title-style::before {
  content: '';
  height: 100px;
  width: 200px;
  background-color: #003078;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}

/*TRENDING IMAGES*/
.trending-img {
  position: relative;
  margin-bottom: 15px;
}

.trending-img img {
  width: 100%;
}

.btn-buy {
  width: 150px;
  padding: 10px 0;
  outline: none !important;
  border: 0;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  transition: .6s;
  opacity: 0;
  z-index: 1;
}

.trending-img:hover .btn-buy {
  transform: translate(-50%, -50%);
  bottom: 50%;
  opacity: 1;
}

.overlay {
  height: 0;
  width: 100%;
  background: #333;
  position: absolute;
  top: 0;
  opacity: 0.5;
  transition: .5s;
}

.trending-img:hover .overlay {
  opacity: 0.5;
  height: 100%;
}

/*about-us SECTION*/
.about-us {
  background-image: url(../images/fashion.png);
  background-size: cover;
  background-position: center;
  margin: 30px 0 120px 0;
}

.row {
  margin: initial !important;
}

.subscribe {
  /* max-width: 5000px; */
  margin-top: 80px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;
}

.subscribe a {
  width: 100px;
  display: block;
  color: #fff !important;
  background: #000;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.subscribe a:hover {
  color: #001848 !important;
  text-decoration: none;
  background: #BBB;
}

.about-us img {
  width: 300px;
  height: 400px;
  margin-bottom: -40px;
  margin-top: 150px;
}

/*all kind of installations*/
.fashion-brands {
  margin-bottom: 130PX;
}

.brand-logo {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  margin: 50px auto 0px;
  box-shadow: 0 2px 40px 0 rgba(110, 130, 208, .18);
}

.brand-logo-1 {
  background-image: url(../images/brand1.jpg);
}

.brand-logo-2 {
  background-image: url(../images/brand2.jpg);
}

.brand-logo-3 {
  background-image: url(../images/brand3.jpg);
}

.brand-logo-4 {
  background-image: url(../images/brand4.jpg);
}

.brand-logo img {
  width: 100px;
  margin: 50px;
}

.fashion-brands p {
  margin-top: 30px;
  font-weight: normal;
}

/*FOOTER*/
.footer {
  margin-top: 150px;
  background: #f5f6fc;
}

.roc-number, .insta-img, .app-download {
  margin: 50px auto;
}

.roc-number img {
  width: 80%;
  cursor: pointer;
}

.insta-img img {
  width: 75px;
  padding: 5px;
  cursor: pointer;
}

.app-download img {
  width: 200px;
}

.footer h5 {
  margin-bottom: 50px;
}

.footer h5::before {
  content: '';
  width: 75px;
  height: 3px;
  background: #4f74e8;
  top: 80px;
  position: absolute;
}

.footer-icons {
  text-align: right;
}

.footer-icons .fa {
  margin: 0 10px auto;
  font-size: 20px;
  cursor: pointer;
}

.footer-icons a {
  color: #3C3C3C !important;
}

.footer-icons a:hover {
  color: #003078 !important;
}

/*MEDIA QUERIAS*/
@media only screen and (max-width: 1776px) {
  .banner-title {
    position: absolute;
    left: 75%;
    top: 20%;
  }
}

@media only screen and (max-width: 1504px) {
  .banner-title {
    position: absolute;
    left: 70%;
    top: 20%;
  }

  .banner-title h1 {}

  .banner-title #plus {}
}

@media only screen and (max-width: 1461px) {
  .header {
    padding: 30px 50px;
  }
}

@media only screen and (max-width: 1370px) {
  .header {
    padding: 20px 100px;
    display: grid;
    grid-template-areas:
      "logo image image"
      "list list list"
    ;
  }

  .items-left {
    /* display: none; */
    display: none;
    grid-area: list;
  }

  /*NECESSARY FOR THE JAVASCRIPT TO WORK*/
  .active {
    display: flex;
  }

  nav .items-left li {
    font-size: 22px;
    color: #000;
    /* display: none; */
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .hamburguer {
    display: grid;
    justify-self: start;
    align-self: center;
    grid-area: logo;
  }

  .logo-image #logo {
    width: 60%;
    grid-area: image;
  }
}

@media only screen and (max-width: 1357px) {
  .banner-title {
    position: absolute;
    left: 65%;
    top: 20%;
  }

  .banner-title h1 {
    font-size: 3em;
  }

  .banner-title #plus {}
}

@media only screen and (max-width: 1165px) {
  .banner-title {
    position: absolute;
    left: 60%;
    top: 20%;
  }

  .banner-title h1 {
    font-size: 3em;
  }

  .banner-title #plus {}
}

@media only screen and (max-width: 1016px) {
  .banner-title {
    position: absolute;
    left: 55%;
    top: 20%;
  }

  .banner-title h1 {
    font-size: 3em;
  }

  .banner-title #plus {}
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 30px 40px;
  }

  .banner-img {
    margin: 40px auto;
    width: 100%;
  }

  .logo-image #logo {
    width: 80%;
  }

  .banner-title {
    top: 120px;
    left: 78%;
    transform: translateX(-50%);
  }

  .banner-title h1 {
    font-size: 3.5em !important;
    padding: 5px;
    line-height: 50px;
  }

  .title-style h1 {
    font-size: 30px;
  }

  .about-us img {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }

  .footer-icons {
    text-align: center;
    padding-bottom: 20px;
  }

  .copyright {
    text-align: center;
  }

  .navbar-brand img {}
}

@media only screen and (max-width: 768px) {
  .about-us {}

  .about-container {
    margin: 0 auto;
    max-width: none;
  }

  .subscribe {
    text-align: center;
  }

  .subscribe a {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .logo-image {
    margin-bottom: 20px;
  }

  .logo-image #logo {
    width: 90%;
  }

  .header {
    padding: 20px 30px;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "logo image image"
      "list list list"
      "icons icons icons"
    ;
  }

  .items-right {
    /* display: none; */
    grid-area: icons;
  }

  nav .items-right {
    padding-top: 10px;
    justify-self: center;
    align-self: center;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-title h1 {
    font-size: 3em !important;
    padding: 5px;
    line-height: 45px;
  }

  .banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
  }

  .banner-title #plus {
    font-weight: bolder;
    color: #fff;
    background: none;
    line-height: 0;
    padding: 20px;
  }
}

@media only screen and (max-width: 376px) {
  .banner-title h1 {
    font-size: 2.5em !important;
    padding: 5px;
    line-height: 40px;
  }

  .banner-title {
    position: absolute;
    left: 50%;
    top: 20%;
  }

  .banner-title #plus {
    padding: 10px;
  }

  .about-us .image-about {
    margin: 0 auto;
    width: 100%;
  }

  .about-us img {
    width: 100%;
  }

  .subscribe {
    padding: 20px;
  }
}
